@charset "UTF-8";
.delivery- .fix-1 img {
  left: 0;
}

.delivery- .fix-2 img {
  left: 15px;
}

.delivery-__title {
  margin-bottom: 45px;
}

.delivery-__title h1 {
  font-size: 50px;
  font-weight: 900;
  color: #d461ab;
  text-transform: uppercase;
}

.delivery-__title div {
  font-size: 30px;
  color: #000;
  text-transform: none;
}

.delivery-__city_select_title {
  font-size: 25px;
  margin-bottom: 30px;
}

.delivery-__city_select_panel {
  display: flex;
  width: calc(100% - 315px);
  max-width: 870px;
  position: relative;
}

.delivery-__city_select input[type="text"] {
  width: calc(100% - 45px);
  border: 1px solid #8b69fc;
  height: 45px;
  padding: 0 45px 0 20px;
  background-color: transparent;
}

.delivery-__city_select input[type="submit"] {
  width: 45px;
  height: 45px;
  background: url(../img/delivery-ico-city.png) center no-repeat, #8b69fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
}

.delivery-__city_select input[type="submit"]:hover {
  background: url(../img/delivery-ico-city.png) center no-repeat, #8363ed;
}

.delivery-__city_select input[type="reset"] {
  width: 45px;
  height: 45px;
  background: url(../img/delivery-ico-city-close.png) center no-repeat;
  position: absolute;
  right: 50px;
  top: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.delivery-__city_select input[type="reset"]:hover {
  transform: scale(1.1);
}

.delivery-__city_select label div {
  width: 45px;
  height: 45px;
  background-color: #8b69fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delivery-table {
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  overflow-x: auto;
  background-color: #fff;
}

.delivery-table table {
  width: 100%;
  text-align: left;
  min-width: 410px;
}

.delivery-table td {
  color: #000;
  font-size: 18px;
  vertical-align: middle;
  border-top: 1px solid #cbcbcb;
  padding: 10px 5px;
}

.delivery-table td img {
  margin-right: 4.20389vw;
}

.delivery-table td[data-title="Стоимость доставки"] {
  font-weight: bold;
  color: #9667f4;
}

.delivery-table td[data-title="Стоимость доставки"] div {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.delivery-table td[data-title="Срок доставки"] span {
  white-space: nowrap;
}

.delivery-table:nth-child(3) {
  color: #9667f3;
  font-size: 20px;
  font-weight: bold;
}

.delivery-table th {
  font-size: 12px;
  color: #939393;
  vertical-align: middle;
}

.delivery-table tr {
  height: 70px;
}

.delivery-__map_title {
  font-size: 25px;
  max-width: 350px;
  margin-bottom: 55px;
  margin-top: 80px;
}

.delivery-__map_container {
  display: flex;
  margin-bottom: 90px;
}

.delivery-__map_block {
  width: calc(100% - 315px);
}

.delivery-__map_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-__map_select {
  width: 315px;
  background-color: #fff;
}

.delivery-__map_select__top {
  height: 30px;
  font-size: 13px;
  color: #fff;
  background-color: #8b69fc;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.delivery-__map_select__mid {
  background-color: #fafafa;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.delivery-__map_select__mid input {
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  width: 17px;
  height: 17px;
  position: relative;
}

.delivery-__map_select__mid input:after {
  content: "";
  width: 8px;
  height: 9px;
  background: url(../img/delivery-ico-checkbox.png) no-repeat;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  opacity: 0;
  transition: 0.3s;
}

.delivery-__map_select__mid input:checked:after {
  opacity: 1;
}

.delivery-__map_select__mid div {
  display: flex;
  margin-right: 20px;
}

.delivery-__map_select__mid input:hover, .delivery-__map_select__mid label:hover {
  cursor: pointer;
}

.delivery-__map_select__bot ul {
  height: 465px;
  overflow: auto;
}

.delivery-__map_select__bot ul::-webkit-scrollbar-track {
  border-radius: 4px;
}

.delivery-__map_select__bot ul::-webkit-scrollbar {
  width: 8px;
  background-color: #e8e8e8;
}

.delivery-__map_select__bot ul::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #acacac;
}

.delivery-__map_select__bot li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin: 20px 0;
  padding-left: 10px;
  padding-right: 15px;
  cursor: pointer;
}

.delivery-__map_select__bot li:hover {
  background-color: #fafafa;
}

.delivery-__map_select__bot .active {
  background-color: #fafafa;
}

.delivery-__map_select__bot div {
  color: #373333;
  font-size: 13px;
}

.delivery-__map_select__bot div:last-child {
  font-size: 11px;
  color: #bbbbbb;
}

.delivery-__payment_container {
  display: flex;
  margin-left: calc((100% - 160px * 5)/5 * -1);
  margin-bottom: -60px;
  flex-wrap: wrap;
}

.delivery-__payment_title {
  font-size: 25px;
  margin-bottom: 50px;
}

.delivery-__payment_item {
  margin-bottom: 60px;
  margin-left: calc((100% - 160px * 5)/5);
}

.delivery-__payment_item img {
  margin-bottom: 30px;
}

.delivery-__payment_item div {
  max-width: 160px;
}

.delivery- .shadow:before {
  visibility: hidden;
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}

.delivery- .card__tabs {
  margin-top: 50px;
}

.delivery-city:valid ~ .delivery-city_reset {
  display: block !important;
}

.search- .delivery-__city_select_panel {
  width: 100%;
  max-width: 670px;
}

.search- .aside {
  margin-top: 0;
}

.search- .cat-items {
  padding-top: 0;
}

.search-__container {
  display: flex;
  margin-top: 90px;
}

.search-__checkbox {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.search-__checkbox label, .search-__checkbox input {
  cursor: pointer;
}

.search-__checkbox div {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.search-__checkbox input {
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  position: relative;
}

.search-__checkbox input:after {
  content: "";
  width: 13px;
  height: 15px;
  background: url(../img/search-ico-checkbox.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: calc(0);
  opacity: 0;
  transition: 0.3s;
}

.search-__checkbox input:checked {
  border: 1px solid #8b69fc;
}

.search-__checkbox input:checked:after {
  opacity: 1;
}

.search-__checkbox input:checked + label {
  color: #8b69fc;
}

.search-__checkbox_title {
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid black;
  padding-top: 20px;
}

.favorite- .cat-items {
  padding: 0;
}

.favorite- .cat-item {
  width: calc((100% - 62px * 4) / 4);
}

.favorite- .cat-item__hover {
  background-color: transparent;
}

.favorite-__cross {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 14px;
  height: 14px;
  transition: 0.3s;
}

.favorite-__cross:hover {
  transform: rotate(180deg);
}

.bg_pic {
  background: url(../img/catalog-bg-top.png) 0 15px no-repeat;
}

.search- .big-slider__title-cont, .favorite- .big-slider__title-cont, .delivery- .big-slider__title-cont {
  margin-bottom: 45px;
}

@media screen and (min-width: 1000px) {
  .search- .big-slider__title-cont, .favorite- .big-slider__title-cont, .delivery- .big-slider__title-cont {
    margin-top: 55px;
  }
}

@media screen and (max-width: 1000px) {
  .search- .aside {
    display: block;
  }
  .search-__container {
    flex-direction: column;
    margin-top: 45px;
  }
  .search-__checkbox_title {
    border-top: 0;
    width: 100%;
  }
  .search-__checkbox {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .search-__checkbox div {
    padding-right: 20px;
  }
  .favorite- .cat-item {
    width: calc((100% - 35px * 3) / 3);
  }
}

@media screen and (max-width: 900px) {
  .delivery-__payment_container {
    margin-left: calc((100% - 160px * 4)/4 * -1);
  }
  .delivery-__payment_item {
    margin-left: calc((100% - 160px * 4)/4);
  }
}

@media screen and (max-width: 770px) {
  .delivery- .fix-1 img {
    left: calc(50% - 26px);
    top: 10px;
  }
  .delivery- .fix-2 img {
    left: calc(50% - 12px);
    top: 5px;
  }
  .delivery-__city_select_panel {
    width: 100%;
  }
  .delivery-__payment_container {
    margin-left: calc((100% - 160px * 3)/3 * -1);
  }
  .delivery-__payment_item {
    margin-left: calc((100% - 160px * 3)/3);
  }
  .delivery- .card__tabs_right {
    padding-left: 0;
  }
  .delivery-__map_container {
    flex-direction: column;
    margin-bottom: 230px;
    position: relative;
  }
  .delivery-__map_block {
    width: 100%;
    height: calc(100vw - 30px);
  }
  .delivery-__map_select {
    position: absolute;
    width: 315px;
    height: 250px;
    left: calc(50% - 157px);
    bottom: -160px;
  }
  .delivery-__map_select__bot ul {
    height: 190px;
  }
  .search- .delivery-__city_select_panel {
    max-width: none;
  }
  .search- .wrapper {
    padding: 0 5vw;
  }
  .search- .big-slider__title-cont, .favorite- .big-slider__title-cont, .delivery- .big-slider__title-cont {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  .favorite- .cat-item {
    width: calc((100% - 35px * 2) / 2);
  }
}

@media screen and (max-width: 550px) {
  .delivery-__payment_container {
    margin-left: calc((100% - 160px * 2)/2 * -1);
  }
  .delivery-__payment_item {
    margin-left: calc((100% - 160px * 2)/2);
  }
}

@media screen and (max-width: 480px) {
  .delivery-__title {
    margin-bottom: 50px;
  }
  .delivery-__title h1 {
    text-align: center;
  }
  .delivery-__city_select_title {
    font-size: 18px;
  }
  .delivery-__city_select {
    padding: 0 25px;
  }
  .delivery-__city_select_title {
    margin-bottom: 20px;
  }
  .delivery-__map_title {
    margin: 50px auto;
    width: 250px;
    font-size: 18px;
  }
  .delivery-__payment_container {
    margin-left: -10px;
  }
  .delivery-__payment_item {
    margin-left: 0;
    width: 50%;
    padding-left: 10px;
  }
  .delivery-__payment_title {
    text-align: center;
  }
  .delivery- .card__tabs_left:before {
    visibility: visible;
  }
  .search- .delivery-__city_select {
    padding: 0;
  }
  .favorite- .cat-item {
    width: calc((100% - 20px * 2) / 2);
    margin: 0 0 70px 20px;
  }
  .favorite- .cat-items {
    margin: 0 0 -70px -20px;
  }
  .search- .main-title, .delivery- .main-title {
    font-size: 42px;
  }
  .favorite- .main-title {
    font-size: 35px;
  }
}

/*# sourceMappingURL=delivery.css.map */
