.bot-form__cont
	.wrapper
		.bot-form__title #rocknailwork
		.bot-form__subtitle Добавляй свои работы <br /> и попади в нашу лену
		.bot-form
			form(action="#")
				.bot-form__inputs
					.bot-form__input-cont
						label.bot-form__label Подпишись <br /> на наши новости
						input.bot-form__input(type="email" placeholder="Почта")
					.bot-form__input-cont.bot-form__input-cont--submit
						label.bot-form__label Будь первой, узнавай <br />о наших акциях и конкурсах
						.gradient-btn.gradient-btn__wrap
							input.bot-form__submit(type="submit" value="Подписаться")
