<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Избранное
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		#page-wr
			include inc/header.jade
			main#content.bg_pic
				.content
					.titile-block
						.wrapper
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href='#') Главная
									span.bread-crumbs__this Избранное
					.favorite-
						.wrapper
							.big-slider__title-cont
								.big-slider__title-img
									img(src="img/title-img.png")
								.big-slider__title
									.main-title Избранное
									.main-subtitle Rock Nail
						.main-catalog__cont
							.wrapper
								.favorite-__container
									.cat-items
										- for (let i = 0; i < 9; i++)
											.cat-item
												a.favorite-__cross(href="#")
													img(src="img/card-ico-form-close.png", alt="")
												a.cat-item__img(href="#")
													img(src="/img/photos/catalog-img-0.png").img
													img(src="/img/photos/catalog-img-hover.jpg", alt="").img-hover
												.cat-item__desc
													a.cat-item__title(href="#")
														span.cat-title Гель-лак Rock Nail Baby Nude
													.cat-item__info 045 Blue Ocean
													.cat-item__bot
														.cat-item__bot-price
															.cat-price 250 Р
														.cat-item__bot-favorite
															a.favorite-add(href="#")
																span.favorite-add__title избранное
												.cat-item__hover
													.btn-wrap.gradient-btn
														a(href="#").btn В корзину

													a(href="/img/photos/catalog-img-hover.jpg" data-fancybox="quick-view").fancybox.quick-view Быстрый просмотр

									//- .btn-more
									//- 	.gradient-btn
									//- 		a(href="#").btn Показать еще 9 из 30

									//- include inc/paginator.jade

						.bot-form__cont
							.wrapper
								.bot-form__title #rocknailwork
								.bot-form__subtitle Добавляй свои работы <br /> и попади в нашу лену
								.bot-form
									form(action="#")
										.bot-form__inputs
											.bot-form__input-cont
												label.bot-form__label Подпишись <br /> на наши новости
												input.bot-form__input(type="email" placeholder="Почта")
											.bot-form__input-cont.bot-form__input-cont--submit
												label.bot-form__label Будь первой, узнавай <br />о наших акциях и конкурсах
												.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="Подписаться")
					//- include inc/bot-blocks.jade
			include inc/footer.jade
		include inc/scripts.jade