<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main.loading
		#page-wr
			include inc/header.jade
			main#content
				.content
					.main-slider__cont
						.wrapper
							.main-slider
								.main-slider__slide
									.main-slider__text
										.main-slider__title Устрой рок <br /> на ногтях
										.main-slider__text-text Профессиональные гель-лаки нового покаления
									figure.main-slider__img
										img(src="img/photos/lac.png")
									.main-slider__price
										.main-slider__price-title Baby nude  /  8 ml
										.main-slider__price-price 250 Р
			include inc/footer.jade
		include inc/scripts.jade