<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main.loading
		#page-wr
			include inc/header.jade
			main#content
				.content
					.main-slider__cont
						.wrapper
							.main-slider
								- for (let i = 0; i < 5; i++)
									.main-slider__slide
										figure.main-slider__img
											picture
												source(srcset="img/photos/main-banner.png" media="screen and (min-width: 1000px)" data-main)
												source(srcset="img/photos/main-banner-tab.png" media="screen and (max-width: 999px)")
												img
					.main-catalog__cont
						.wrapper
							.main-catalog__tabs
								.tabs
									.tabs__one.active(data-id="0")
										figure.tabs__one-img
											img(src="img/ico-hit.png")
										.tabs__one-title Хиты
									.tabs__one(data-id="1")
										figure.tabs__one-img
											img(src="img/ico-new.png")
										.tabs__one-title Новинки
									.tabs__one(data-id="2")
										figure.tabs__one-img
											img(src="img/ico-sale.png")
										.tabs__one-title Скидки
							.main-catalog__slider
								.catalog-slider.active(data-id="0")
									- for (let j = 0; j < 2; j++)
										- for (let i = 0; i < 4; i++)
											.catalog-slider__slide
												.cat-item
													a.cat-item__img(href="#")
														img(src="/img/photos/catalog-img-0.png").img
														img(src="/img/photos/catalog-img-hover.jpg", alt="").img-hover
													.cat-item__desc
														a.cat-item__title(href="#")
															span.cat-title Гель-лак Rock Nail Baby Nude
														.cat-item__info 045 Blue Ocean
														.cat-item__bot
															.cat-item__bot-price
																.cat-price 250 Р
															.cat-item__bot-favorite
																a.favorite-add(href="#")
																	span.favorite-add__title избранное
													.cat-item__hover
														.btn-wrap.gradient-btn
															a(href="#").btn В корзину

														a(href="/img/photos/catalog-img-hover.jpg" data-fancybox="quick-view").fancybox.quick-view Быстрый просмотр
								.catalog-slider(data-id="1")
									- for (let j = 0; j < 2; j++)
										- for (let i = 0; i < 4; i++)
											.catalog-slider__slide
												.cat-item
													a.cat-item__img(href="#")
														img(src="/img/photos/catalog-img-0.png").img
														img(src="/img/photos/catalog-img-hover.jpg", alt="").img-hover
													.cat-item__desc
														a.cat-item__title(href="#")
															span.cat-title Гель-лак Rock Nail Baby Nude
														.cat-item__info 045 Blue Ocean
														.cat-item__bot
															.cat-item__bot-price
																.cat-price 250 Р
															.cat-item__bot-favorite
																a.favorite-add(href="#")
																	span.favorite-add__title избранное
													.cat-item__hover
														.btn-wrap.gradient-btn
															a(href="#").btn В корзину

														a(href="/img/photos/catalog-img-hover.jpg" data-fancybox="quick-view").fancybox.quick-view Быстрый просмотр
								.catalog-slider(data-id="2")
									- for (let j = 0; j < 2; j++)
										- for (let i = 0; i < 4; i++)
											.catalog-slider__slide
												.cat-item
													a.cat-item__img(href="#")
														img(src="/img/photos/catalog-img-0.png").img
														img(src="/img/photos/catalog-img-hover.jpg", alt="").img-hover
													.cat-item__desc
														a.cat-item__title(href="#")
															span.cat-title Гель-лак Rock Nail Baby Nude
														.cat-item__info 045 Blue Ocean
														.cat-item__bot
															.cat-item__bot-price
																.cat-price 250 Р
															.cat-item__bot-favorite
																a.favorite-add(href="#")
																	span.favorite-add__title избранное
													.cat-item__hover
														.btn-wrap.gradient-btn
															a(href="#").btn В корзину

														a(href="/img/photos/catalog-img-hover.jpg" data-fancybox="quick-view").fancybox.quick-view Быстрый просмотр
					.manifest__cont
						.wrapper
							.manifest__title-cont
								.manifest__title
									.main-title Манифест
								.manifest__subtitle
									.main-subtitle Rock Nail
							.manifest
								each manifest, i in [{title: "Мы дарим выбор!", text: "Мы не хотим ограничивать вас определенным количеством цветов поэтому RockNail предлагает целую радугу оттенков и чуточку больше!"}, {title: " Мы объявляем свободу!", text: "Долой скучный и примитивный маникюр. Отличайся смелостью и оригинальностью в своих идеях. Именно поэтому структура гель-лака RockNail позволяет сочетаться с другими текстурами и дизайнами. "}, {title: "Мы любим насыщенную жизнь!", text: "Тебя поразит удивительно высокая степень пигментации RockNail. Нет необходимости наносить гель-лак в несколько слоев, чтобы увидеть на ногтях тот же оттенок, что и во флаконе. "}, {title: "Мы экономим твое время и гарантируем качество!", text: "Используя гель-лак RockNail можно забыть про неприятные сколы и отслойки на 3 недели. Кроме того все текстуры RockNail легко и равномерно наносятся на ноготь, не создавая разводов или пробелов в оттенке."}, ]
									.manifest__one
										.manifest__one-title=manifest.title
										.manifest__one-btn Читать 
										.manifest__one-text=manifest.text
										figure.manifest__one-img
											img(src="img/photos/manifest-img.jpg")
					.big-slider__cont
						.wrapper
							.big-slider__title-cont
								.big-slider__title-img
									img(src="img/title-img.png")
								.big-slider__title
									.main-title Устрой рок
									.main-subtitle на ногтях!
						.big-slider
							.big-slider__slide.big-slider__slide--many
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-3.jpg")
								figure.big-slider__slide-img.big-slider__slide-img_mobile
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img.big-slider__slide-img_mobile
									img(src="img/photos/big-slider-3.jpg")
								.big-slider__slide-inst
									.inst-block
										.inst-block__text Смотри больше в нашем профиле в Instagram
										.inst-block__tag @Rocknail
										.inst-block__btn
											a.gradient-btn.gradient-btn--arrow(href="#")
												span Перейти
							
							.big-slider__slide
								img(src="img/photos/big-slider-4.jpg")
							.big-slider__slide.big-slider__slide--many
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-5.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-6.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-8.jpg")
							.big-slider__slide
								img(src="img/photos/big-slider-1.jpg")
							.big-slider__slide.big-slider__slide--many
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-5.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-6.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-8.jpg")
							.big-slider__slide
								img(src="img/photos/big-slider-1.jpg")
							.big-slider__slide.big-slider__slide--many
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-5.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-6.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-8.jpg")
							.big-slider__slide
								img(src="img/photos/big-slider-4.jpg")
							.big-slider__slide.big-slider__slide--many
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-5.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-6.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-2.jpg")
								figure.big-slider__slide-img
									img(src="img/photos/big-slider-8.jpg")
							.big-slider__slide
								img(src="img/photos/big-slider-1.jpg")
						.wrapper
							.big-slider__arrows
					.wrapper
						.inst-block_mobile_cont
							.inst-block_mobile
								.inst-block
									.inst-block__text Смотри больше в нашем профиле в Instagram
									.inst-block__tag @Rocknail
									.inst-block__btn
										a.gradient-btn.gradient-btn--arrow(href="#")
											span Перейти
					include inc/bot-blocks.jade
			include inc/footer.jade
		include inc/scripts.jade