<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Карточка товара
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		#page-wr
			include inc/header.jade
			main#content
				.content
					.titile-block
						.wrapper
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href='#') Главная
									a.bread-crumbs__link(href='#') Все категории
									span.bread-crumbs__this Гель-лак RockNail Baby Nude #045 Blue Ocean
					.card
						.wrapper
							<!-- .sale класс для распродажи -->
							<!-- .not_exist класс для товара отсутствующего в наличии -->
							.card__top.sale
								.card__slider
									.card__slick
										.card__slick_slide
											img(src="img/photos/cat-img-0.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-1.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-2.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-3.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-2.png", alt="")
										//- .card__slick_slide
										//- 	img(src="img/photos/architecture-1.jpg", alt="")
									.card__slick_nav
										.card__slick_slide
											img(src="img/photos/cat-img-0.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-1.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-2.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-3.png", alt="")
										.card__slick_slide
											img(src="img/photos/cat-img-2.png", alt="")
										//- .card__slick_slide
										//- 	img(src="img/photos/architecture-1.jpg", alt="")
								.card__sample
									h1 Гель-лак RockNail Baby Nude 
									h2 #045 Blue Ocean
									.card__sample_slider
										a(href="#").card__sample_nail.card__sample_btn.card__sample_btn_back
											img(src="img/ico-btn-right.png", alt="")
											div
												div Еще 10
												div оттенков
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail.card__sample_btn
											img(src="img/ico-btn-right.png", alt="")
											div
												div Еще 10
												div оттенков
									.card__select
										.forms-input-cont.mobile
											.forms__label Другие оттенки:
											select.forms__input.forms__input--select.color-select
												option(value="1" data-src="img/ico-color-catalog1.png") #045 Blue Ocean
												option(value="2" data-src="img/ico-color-catalog2.png") #046 Blue Ocean
												option(value="3" data-src="img/ico-color-catalog3.png") #047 Blue Ocean
												option(value="4" data-src="img/ico-color-catalog1.png") #048 Blue Ocean
												option(value="5" data-src="img/ico-color-catalog1.png") #048 Blue Ocean
												option(value="6" data-src="img/ico-color-catalog1.png") #048 Blue Ocean
												option(value="7" data-src="img/ico-color-catalog1.png") #048 Blue Ocean
												
									.card__sample_buy
										.cat-item__bot
											.cat-item__bot-price
												.cat-price_sale 1500 Р
												.cat-price 2500 Р
											.card__sample_input.exist_btn
												input(value="1")
												a(href="#-") -
												a(href="#+") +
											span
												.gradient-btn.gradient-btn__wrap.not_exist_btn
													input.bot-form__submit(type="submit" value="СООБЩИТЬ О ПОСТУПЛЕНИИ")
												.gradient-btn.gradient-btn__wrap.exist_btn
													input.bot-form__submit(type="submit" value="В КОРЗИНУ")
												.cat-item__bot-favorite
													a.favorite-add(href="#")
														span.favorite-add__title избранное
						.main-catalog__cont
							.wrapper
								.card__tabs#tabs
									.card__tabs_left
										.card__tabs_navi
											span(data-id="1").active ОПИСАНИЕ
											span(data-id="2") ДОСТАВКА
											span(data-id="3") СОСТАВ
										.card__tabs_left_content_flex(data-id="1")
											.card__tabs_left_content
												h3 Гель-лак RockNail Baby Nude
												.text-page
													p Меняетсвой цвет в зависимости от типа освещения и положения осветительного прибора относительно ногтя.
													p В состав входят микрочастицы, чувствительные к интенсивности освещения, а так же частички перламутра и крошечная алмазная пыль.
													p Перламутровая крошка обеспечивает сияние маникюра, а мельчайшие частички алмазов добавляют кристального блеска.
													p В состав входят микрочастицы, чувствительные к интенсивности освещения, а так же частички перламутра и крошечная.
										.card__tabs_left_content_flex(data-id="2")
											.card__tabs_left_content
												.text-page
													table
														tfoot
															tr
																td(colspan="3")
														thead
															tr
																th Компания
																th Срок 
																th Цена
														tbody
															tr
																td(data-title="Компания") 
																	span Курьерская доставка CDEK
																td(data-title="Срок")
																	span 1 – 2 дня
																td(data-title="Цена")
																	span 199 Р
															tr
																td(data-title="Компания") 
																	span Курьерская доставка CDEK
																td(data-title="Срок")
																	span 1 – 2 дня
																td(data-title="Цена")
																	span 199 Р
															tr
																td(data-title="Компания") 
																	span Курьерская доставка CDEK
																td(data-title="Срок")
																	span 1 – 2 дня
																td(data-title="Цена")
																	span 199 Р
															tr
																td(data-title="Компания") 
																	span Курьерская доставка CDEK
																td(data-title="Срок")
																	span 1 – 2 дня
																td(data-title="Цена")
																	span 199 Р

										.card__tabs_left_content_flex(data-id="3")
											.card__tabs_left_content
												h3 Состав
												.text-page
													ul
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
														li Lorem ipsum dolor sit amet.
									.card__tabs_right
										.card__tabs_right-title Rock Nail – ЭТО
										.card__tabs_right_item
											img(src="img/card-ico-tab-1.png", alt="")
											.card__tabs_right_item-title Технологии
											.card__tabs_right_item-text Архитектурная формула Выравнивающая способность Нанесение в одно скольжение
										.card__tabs_right_item.fix-1
											img(src="img/card-ico-tab-2.png", alt="")
											.card__tabs_right_item-title Палитра
											.card__tabs_right_item-text Ультрамодные коллекции Сочетаемость оттенков Высокая пигментация
										.card__tabs_right_item.fix-2
											img(src="img/card-ico-tab-3.png", alt="")
											.card__tabs_right_item-title Упаковка
											.card__tabs_right_item-text Умная кисть Soft Touch Эргономичная баночка До последней капли
								.main-catalog__slider
									.card__main-catalog__slider-title Похожие оттенки
									.catalog-slider.active(data-id="0")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
									.catalog-slider(data-id="1")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
									.catalog-slider(data-id="2")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
								#form_anchor
								.card__feedback
									.card__feedback_top
										.card__feedback_top-title Отзывы 
											span (12)
										.card__feedback_top-rating <span>5.2</span> Средняя оценка
									<!-- выводить блок .card__feedback_middle когда есть отзывы -->
									.card__feedback_middle
										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-rating 
												img(src="img/card-ico-star-red.png", alt="")
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-red.png", alt="")
											.card__feedback_block-img 
										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-rating 
												img(src="img/card-ico-star-red.png", alt="")
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-white.png", alt="") 
												img(src="img/card-ico-star-white.png", alt="")
											.card__feedback_block-img 
												a(href="img/photos/cat-img-0.png" data-fancybox="feedback").fancybox
													img(src="img/photos/cat-img-0.png", alt="")
												a(href="img/photos/cat-img-1.png" data-fancybox="feedback").fancybox
													img(src="img/photos/cat-img-1.png", alt="")
										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-rating 
												img(src="img/card-ico-star-red.png", alt="")
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-red.png", alt="") 
												img(src="img/card-ico-star-white.png", alt="") 
												img(src="img/card-ico-star-white.png", alt="")
											.card__feedback_block-img 
									<!-- выводить блок .card__feedback_middle-no_feedback когда нет отзывов -->
									.card__feedback_middle-no_feedback У этого товара пока нет отзывов. Если вы заказывали этот товар, поделитесь своим впечатлением о нём, и другие покупатели будут вам благодарны.
									.card__feedback_bot
										.card__feedback_btns
											.card__btn
												a(href="#form_anchor") Оставить отзыв
											.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="Показать еще")
										.card__feedback_paginator
											include inc/paginator.jade
									.card__feedback_form.form#form
										.card__feedback_form-close
											img(src="img/card-ico-form-close.png", alt="")
										.forms__title оставить отзыв 
										.card__feedback_form-rating Ваша оценка:
											#reviewStars-input
												input#star-4(type="radio" name="reviewStars")
												label( title="отлично" for="star-4")
												input#star-3(type="radio" name="reviewStars")
												label( title="хорошо" for="star-3")
												input#star-2(type="radio" name="reviewStars")
												label( title="нормально" for="star-2")
												input#star-1(type="radio" name="reviewStars")
												label( title="плохо" for="star-1")
												input#star-0(type="radio" name="reviewStars")
												label( title="очень плохо" for="star-0")

										form(vh-on:submit="validate_form" action="#" data-data-var="datavar")
											.forms-wrap
												.forms-input-cont.imp_input
													input.forms__input(placeholder="Имя:"  name="prop_12"  required="" type="text")
													label.forms__label Имя:
													.forms__error-message {Поле не заполнено}
														i.forms__error-message-icon
												.forms-input-cont.imp_input
													input.forms__input(placeholder="Е-mail:" name="prop_12"  required="" type="text")
													label.forms__label Е-mail:
													.forms__error-message {Поле не заполнено}
														i.forms__error-message-icon
											.forms-input-cont.forms-input-cont--textarea
												textarea.forms__input.forms__input--textarea(required="" placeholder="Сообщение:" )
												label.forms__label Сообщение:
												.forms__error-message 
														i.forms__error-message-icon
											.card__form_btns
												.forms-input-cont.forms-input-cont--file.card__form_btn
													input#file-1
													label.forms__label--file-1(for="file-1")
														img(src="img/card-ico-feedback-btn.png", alt="")
														span Добавить фото
												.forms-submit-cont.card__form_btn.card__form_btn-fix
													input.forms__submit(type="submit" value="Отправить")
						.bot-form__cont
							.wrapper
								.bot-form__title #rocknailwork
								.bot-form__subtitle Добавляй свои работы <br /> и попади в нашу лену
								.bot-form
									form(action="#")
										.bot-form__inputs
											.bot-form__input-cont
												label.bot-form__label Подпишись <br /> на наши новости
												input.bot-form__input(type="email" placeholder="Почта")
											.bot-form__input-cont.bot-form__input-cont--submit
												label.bot-form__label Будь первой, узнавай <br />о наших акциях и конкурсах
												.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="Подписаться")
					//- include inc/bot-blocks.jade
			include inc/footer.jade
		include inc/scripts.jade