<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Карточка товара
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		#page-wr
			include inc/header.jade
			main#content
				.content
					.card
						.wrapper
							.card__top
								.card__slider
									.card__slick
										.card__slick_slide
											img(src="../img/photos/cat-img-0.png", alt="")

								.card__sample
									h1 Гель-лак RockNail Baby Nude 
									h2 #045 Blue Ocean
									.card__sample_slider
										a(href="#").card__sample_nail.card__sample_btn.card__sample_btn_back
											img(src="img/ico-btn-right.png", alt="")
											div
												div Еще 10
												div оттенков
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail
											img(src="img/photos/nail.png", alt="")
											div #045
											div Blue Ocean
										a(href="#").card__sample_nail.card__sample_btn
											img(src="img/ico-btn-right.png", alt="")
											div
												div Еще 10
												div оттенков
									.card__sample_buy
										.cat-item__bot
											.cat-item__bot-price
												.cat-price 250 Р
											span
												.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="СООБЩИТЬ О ПОСТУПЛЕНИИ")
												.cat-item__bot-favorite
													a.favorite-add(href="#")
														span.favorite-add__title избранное
						.main-catalog__cont
							.wrapper
								.card__tabs#tabs
									.card__tabs_left
										.card__tabs_navi
											a(href="#tabs-1").active ОПИСАНИЕ
											a(href="#tabs-2") ДОСТАВКА
											a(href="#tabs-3") СОСТАВ
										.card__tabs_left_content_flex#tabs-1
											.card__tabs_left_content
												.card__tabs_left_content-title Гель-лак RockNail Baby Nude
												.text-page
													p Меняетсвой цвет в зависимости от типа освещения и положения осветительного прибора относительно ногтя.
													p В состав входят микрочастицы, чувствительные к интенсивности освещения, а так же частички перламутра и крошечная алмазная пыль.
													p Перламутровая крошка обеспечивает сияние маникюра, а мельчайшие частички алмазов добавляют кристального блеска.
													p В состав входят микрочастицы, чувствительные к интенсивности освещения, а так же частички перламутра и крошечная.
										.card__tabs_left_content_flex#tabs-2
											.card__tabs_left_content
												.card__tabs_left_content-title Гель-лак RockNail Baby Nude
												.text-page
													p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, impedit nulla beatae possimus, voluptatem odio obcaecati. Tempore nisi minus ea, veniam. Ducimus, eius eveniet voluptatibus amet. Nulla similique repellat adipisci laboriosam perspiciatis quaerat laborum soluta commodi vero eveniet harum culpa aliquam earum, cumque, omnis magni doloribus facere ipsum libero voluptatem officiis voluptas odit. Quisquam, at.
									.card__tabs_right
										.card__tabs_right-title Rock Nail – ЭТО
										.card__tabs_right_item
											img(src="img/card-ico-tab-1.png", alt="")
											.card__tabs_right_item-title Технологии
											.card__tabs_right_item-text Архитектурная формула Выравнивающая способность Нанесение в одно скольжение
										.card__tabs_right_item.fix-1
											img(src="img/card-ico-tab-2.png", alt="")
											.card__tabs_right_item-title Технологии
											.card__tabs_right_item-text Архитектурная формула Выравнивающая способность Нанесение в одно скольжение
										.card__tabs_right_item.fix-2
											img(src="img/card-ico-tab-3.png", alt="")
											.card__tabs_right_item-title Технологии
											.card__tabs_right_item-text Архитектурная формула Выравнивающая способность Нанесение в одно скольжение
								.main-catalog__slider
									.catalog-slider.active(data-id="0")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
									.catalog-slider(data-id="1")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
									.catalog-slider(data-id="2")
										- for (let j = 0; j < 2; j++)
											- for (let i = 0; i < 4; i++)
												.catalog-slider__slide
													.cat-item
														a.cat-item__img(href="#")
															img(src="/img/photos/cat-img-"+i+".png")
														.cat-item__desc
															a.cat-item__title(href="#")
																span.cat-title Гель-лак Rock Nail Baby Nude
															.cat-item__info 045 Blue Ocean
															.cat-item__bot
																.cat-item__bot-price
																	.cat-price 250 Р
																.cat-item__bot-favorite
																	a.favorite-add(href="#")
																		span.favorite-add__title избранное
								.card__feedback
									.card__feedback_top
										.card__feedback_top-title Отзывы 
											span (12)
										.card__feedback_top-rating <span>5.2</span> Средняя оценка
									.card__feedback_middle
										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-img 

										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-img 
												a(href="#")
													img(src="img/photos/card-feedback.png", alt="")
												a(href="#")
													img(src="img/photos/cat-img-1.png", alt="")

										.card__feedback_block
											.card__feedback_block-name Максутова Виолетта
											.card__feedback_block-time (2 недели назад)
											.card__feedback_block-text Лак супер, хорошего качества
											.card__feedback_block-img 

									.card__feedback_bot
										.card__feedback_btns
											.card__btn
												a(href="#") Оставить отзыв
											.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="Показать еще")
										.card__feedback_paginator
											include inc/paginator.jade
						.bot-form__cont
							.wrapper
								.bot-form__title #rocknailwork
								.bot-form__subtitle Добавляй свои работы <br /> и попади в нашу лену
								.bot-form
									form(action="#")
										.bot-form__inputs
											.bot-form__input-cont
												label.bot-form__label Подпишись <br /> на наши новости
												input.bot-form__input(type="email" placeholder="Почта")
											.bot-form__input-cont.bot-form__input-cont--submit
												label.bot-form__label Будь первой, узнавай <br />о наших акциях и конкурсах
												.gradient-btn.gradient-btn__wrap
													input.bot-form__submit(type="submit" value="Подписаться")
					//- include inc/bot-blocks.jade
			include inc/footer.jade
		include inc/scripts.jade