@import "bourbon"
@import "vars"
$output-bourbon-deprecation-warnings: false;

@media screen and (min-width: 1000px)
	.head__burger
		display: none

@media screen and (max-width: 1200px)

	.catalog-filter
		flex-wrap: wrap

		.forms-wrap
			width: auto
			margin-bottom: 1.4rem

	.cart
		&-info
			width: calc(100% - 380px)

		&-aside
			width: 440px
			margin-left: 20px


			&__title
				font-size: 21px
				align-items: center
				display: flex

			&__footer
				flex-wrap: wrap 

				&-price 
					margin-top: 20px


	.gradient-btn
		flex: none

	.cart-delivery-method 
		.title
			font-size: 15px

	.payment-method__item
		font-size: 13px


@media screen and (max-width: 1040px)
	.fancybox-stage .card__top
		max-width: 100%
	
@media screen and (max-width: 1000px)

	.cart-aside__title
		display: flex
		flex-direction: column
		align-items: flex-start

	.mobile-info
		display: block
		color: $second-color
		font-size: rem(20)
		font-weight: bold

	.cart-aside__header
		align-items: flex-start


	.cart-aside__mobile-btn
		border: 1px solid $second-color
		color: $second-color
		text-align: center
		padding: 15px
		font-size: rem(18)
		font-weight: bold
		margin-bottom: 55px
		transition: border-color .3s ease, color .3s ease
		cursor: pointer
		display: block;
		&:hover 
			border-color: $main-color
			color: $main-color

	.cart
		.title-block__title 
			h1
				color: #000
				font-weight: 500

		&__cont
			margin-bottom: 0

		&-aside
			&__title
				font-size: 25px

			&__header
				margin-bottom: 44px

		&-info
			margin-top: 50px

		&-recipient
			margin: 0 0 53px

	.cart
		flex-direction: column

		&-info
			width: 100%
			order: 2

		&-aside
			width: 100%
			margin-left: 0
			order: 1

		&-recipient



		&-current-city
			margin-bottom: 27px

		&-delivery-method
			margin-bottom: 69px

		&-delivery-address
			margin-bottom: 68px

		&-payment-method
			margin-bottom: 61px

			&--current
				margin: 27px 0 -30px -28px

	.payment-method__item
		// padding: 11px 11px 13px 54px

	.titile-block
		display: none 

	.aside
		width: auto
		margin: 0
		display: none

		&-title
			display: block


		.gradient-btn
			position: relative
			padding: 10px 80px 10px 22px

			&:before
				content: ""
				position: absolute
				width: 35px
				height: 16px
				right: 10px
				top: calc(50% - 8px)
				background: url('../img/ico-arrow-catalog-next.png') no-repeat center
				z-index: 1

		&-category, &-working, &-soc
			display: none

		&-category
			position: absolute
			top: 100%
			left: 0
			background: #fff
			z-index: 1
			width: 100%
			transition: width .3s ease
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0), 0 10px 10px 7px rgba(0, 0, 0, 0.08)

	.lacquer-category
		position: relative
		border-bottom: 1px solid #dcdcdc
		margin: 0 !important
		padding: 10px 45px 10px 40px
		cursor: pointer

		&:after 
			content: ""
			position: absolute
			top: 13px
			right: 30px
			background: url('../img/ico-select-arrow-black.png') no-repeat center
			+size(12px)

		&__list
			display: none
			margin-top: 20px

		&__title
			margin: 0

			&.active
				text-transform: uppercase
				color: #000

		&__item
			position: relative
			display: block


			&.active
				color: $second-color
				padding-left: 10px

				&:before 
					content: "•"
					position: absolute
					left: 0
					top: -1px
					+size(5px)
					font-size: rem(26)
					margin-right: 1px


    

	.js__open

		.aside-category
			display: block


	.js__catalog-filter
		position: relative
		display: block
		transition: width .3s ease
		user-select: none

		&.js__open
			width: 305px

			.aside-title
				padding-left: 40px
				text-align: left

				&:before
					+size(19px)
					right: 25px
					background: url('../img/ico-catalog-close.png') no-repeat center

						


	.lacquer-category__item
	.catalog-list
		width: 100%

	.title-block__title
		display: flex 
		justify-content: space-between
		align-items: center
		padding: 0
		margin-bottom: 32px

		h1 
			font-size: rem(42)
			font-weight: bold 
			color: $second-color
	
	.catalog-filter
		box-shadow: 0px 20px 63px -13px rgba(0, 0, 0, 0.2)

		.forms-wrap__title, .forms-checkbox
			display: none

		.forms-wrap
			justify-content: space-between

			.forms-input-cont
				display: flex
				flex-direction: column-reverse

				&.mobile
						width: 100%

			&:nth-child(1)
				width: 100%

			&:nth-child(2), &:nth-child(3)
				width: calc( 50% - 13px)

			&:nth-child(3)
				margin-left: 26px

			&:last-child
				width: 100%
				max-width: 100%
				flex-wrap: nowrap

				.forms-input-cont
					width: 48%
					display: flex
					flex-direction: row
					align-items: center
					margin-bottom: 0
					margin-right: auto

					// &:after
					// 	content: ""
					// 	display: inline-block
					// 	+size(15px)
					// 	background: url(../img/ico-select-arrow.png) center no-repeat
					// 	margin-left: 10px

				.forms__input
					border: 0 !important
					// width: auto
					width: 180px
					height: auto !important


		.forms__input--select 
			padding: 0 30px 0 10px

	.ico-select-img
		position: absolute
		top: 43px
		left: 11px

				


	.forms__input
		height: 40px !important
		border: 1px solid $border-color !important

	.forms-input-cont.mobile
		display: block


	.cat-item__hover
		position: static
		opacity: 1;
		pointer-events: all

	.quick-view
		display: none

	.cat-item 
		.img-hover
			display: none

		&__hover
			opacity: 1
			outline: none
			box-shadow: none
			transition: none

		&:hover
			outline: none
			box-shadow: none
			.img 
				opacity: 1


			.cat-item 
				&__hover
					// margin: 0;
					// padding: 0;
					box-shadow: none

	.cat
		&-items
			margin: 0 0 -90px -35px
			padding: 55px 0px 10px 0

		&-item
			width: calc((100% - 35px * 3) / 3)
			margin: 0 0 70px 35px


	.forms-input-cont.mobile
		position: relative

		&:before 
			content: attr(data-src)
			position: absolute
			top: 0
			left: 0
			+size(10px)

	.gradient-btn
		// padding: 13px 3rem

	.btn-more
		justify-content: flex-start

		.gradient-btn
			margin-left: rem(20)


	.main-catalog__slider 
		.cat-item
			padding: 0 15px
	// @media screen and (max-width: 770px)
	.manifest
		margin: 0;
		flex-direction: column
		padding: 0 15vw;

		&__title-cont
			text-align: center
			margin-bottom: 100px;

		&__one
			width: 100%
			transform: translate3d(0, 0, 0) !important;
			margin: 0;
			margin-bottom: 90px;
			min-height: 110px;

	.big-slider__title-cont
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.main-subtitle
			text-align: center;
	.big-slider__title-img
		margin: 0;
		margin-bottom: 20px;
	.seo-text 
		.text-page
			column-count: 1;

	.footer-top__column--big
		display: none;

	.to_top
		right: 1px;
		top: 15%;

	.inst-block_mobile_cont
		display: flex;
		justify-content: center;

	.big-slider__cont
		.inst-block
			display: none;

	.big-slider__slide-inst
		height: 15vw;
	// адаптив меню
	.head__mobile_container
		width: auto;
		min-width: 300px;
		position: fixed;
		// bottom: 0;
		left: -15px;
		top: 77px;
		flex-direction: column;
		background-color: #fff;
		align-items: flex-start;
		box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.2);
		// padding-left: 40px;
		transform: translateX(-110%);
		transition: 0.6s;

	.menu
		flex-direction: column;
		padding-left: 40px;
		li 
			padding: 7px 0;

	.head__menu
		margin-top: 10px;

	.head__phone
		margin: 35px 0;
		color: #9667f4;
		font-size: 16px;
		font-weight: bold;
		padding-left: 40px;
		a 
			font-size: 16px;
	.head__title
		display: none;

	.head__logo
		margin: 0 auto;
		padding-left: 105px;
	.head__mobile_dropdown
		display: block;

		ul.sub_menu__open
			&:before
				transform: rotate(180deg);
			li 
				display: block;
	.burger
		margin-bottom: 15px;
		// margin-left: 5px;
		span
			position: relative;
			display: inline-block;
			width: 25px;
			height: 4px;
			vertical-align: bottom;
			background: #000;
			transition: background .2s .4s;
			border-radius: 2px;
			&:before
				border-radius: 0;
				transform: none;
				content: "";
				position: absolute;
				left: 0;
				top: 8px;
				width: 100%;
				height: 4px;
				background: #000;
				transform-origin: 50% 50%;
				transition: top .3s .3s,transform .3s;
				border-radius: 2px;
			&:after 
				content: "";
				position: absolute;
				left: 0;
				top: -8px;
				width: 100%;
				height: 4px;
				background: #000;
				transform-origin: 50% 50%;
				transition: top .3s .3s,transform .3s;
				border-radius: 2px;

	.mobile-menu--open 
		.head__mobile_container
			transform: translateX(0);
			overflow-y: auto;
			max-height: calc(100vh - 77px);
		.burger > span
			background-color: transparent;
			&:before
				transform: rotate3d(0, 0, 1, 45deg);
				top: 0;
				transition: top .3s,transform .3s .5s;
			&:after
				transform: rotate3d(0, 0, 1, -45deg);
				top: 0;
				transition: top .3s,transform .3s .5s;

	.head__cart
		position: relative;

	.head__cart-wrap
		overflow: visible;
		height: 45px;
		align-items: center;
		padding-bottom: 0;
		width: auto;
	.cart-link
		+size(45px)
		background: url(../img/ico-cart.png) center no-repeat, #000;
		margin-left: 5px;

	body.mobile-menu--open
		overflow: hidden;

	.big-slider__slide-img_mobile
		display: block;

	.big-slider__slide-inst
		display: none;

	.big-slider
		margin: 0
		margin-top: 70px;
		transform: translate(0)

	.big-slider__arrows
		width: auto !important;

	.card__sample
		padding-left: 0
	.manifest__cont
		padding-bottom: 0;

	.head__mobile_dropdown ul li a
		font-size: 14px
		font-weight: 400
		text-transform: none

	.cart-line__wrap
		display: none

	.card__popup
		flex-direction: column

		.card

			&__slider, &__sample
				width: 100%

			&__sample
				padding: 20px 0 0 !important

@media screen and (max-width: 820px)
	
	.head__search-more[style*="block"] 
		.search:after
			right: 11rem
		
@media screen and (max-width: 660px)

	.head__search-more[style*="block"] 
		.search:after
			right: 9.1rem

	.catalog-banner
		display: none

	.catalog-filter

		.fake-select

			&__item

				&-text
					color: #000
					font-weight: 400

	.manifest
		padding: 0 10vw;
	.cat
		&-items
			margin: 0 0 -90px -20px
			padding: 55px 0px 10px 0

		&-item
			width: calc((100% - 20px * 2) / 2) !important
			margin: 0 0 70px 20px !important

	.js__catalog-filter
		// display: none
		margin: 15px 0 0

		&.js__open
			width: 100%

	.catalog-filter .forms-wrap:last-child .btn-flat + .btn-flat
		margin-left: 0

	.title-block

		&__title
			flex-direction: column
			align-items: flex-start

	.paginator
		margin: 0 auto
		margin-top: 40px

	.btn-more
		justify-content: center

		.gradient-btn
			margin-left: 0

	.cart-aside__title
		font-size: 20px

	.gradient-btn
		// padding: 13px 26px

	.cart-aside__mobile-btn
		padding: 10px
		font-size: 14px
		margin-bottom: 48px

	.cart-aside__footer
		display: none

	.cart
		.title-block__title
			justify-content: center

			h1 
				font-size: rem(21)

		&-info
			margin-top: 30px

		.forms-wrap	
			margin: 0


	.cart-recipient
		position: relative

		.forms-input-cont
			width: 100%
			margin: 0

			&:nth-child(1)
				margin-bottom: 80px

			&:nth-child(2)
				margin-bottom: 33px

		.forms-wrap--bot
			margin: 0 !important
			position: absolute
			top: 115px
			left: 0

	.cart

		.title-block__title
			margin-bottom: 35px

	.cart-recipient
		margin: 0 0 35px

	.cart-current-city
		font-size: 18px
		margin-bottom: 38px
		justify-content: center

	.cart-delivery-method
		margin-bottom: 0px

		.forms-input-cont
			width: 100%
			margin: 0 0 32px 5px

			.top
				margin-bottom: 11px

	.cart-delivery-address 
		.forms-input-cont
			width: 100%
			margin: 0 0 30px 0

	.cart-delivery-address
		margin-bottom: 24px

	.cart-payment-method 
		.forms-input-cont
			width: 100%
			margin: 0 0 37px 0

	.cart-payment-method--current
		margin: 5px 0 -30px -28px

	.payment-method__item
		width: calc((100% - 28px * 2) / 2)
		margin: 0 0 26px 28px
		min-height: 56px

	.cart-payment-method
		margin-bottom: 50px

	.cart-price
		display: flex
		margin-top: 12px

	.promo-mobile
		display: block
		margin-top: 28px

		input[type="text"]
			width: 100%

		input[type="submit"]
			width: 136px

	.cart-footer
		margin-top: 25px
		flex-direction: column

		.gradient-btn
			width: 100%

	.policy
		text-align: center
		width: 100%
		margin-top: 33px

	.cart-current-city

		select 
			background: url("../img/ico-select-arrow.png") no-repeat center right 10px

	.main-catalog__slider
		.cat-item
			padding: 0

		.catalog-slider 
			.slick-list
				padding-left: 10px
				padding-right: 10px

	.bot-form__input-cont 
		flex-direction: column;

		.gradient-btn
			width: 100%;

	.bot-form__input
		width: 100%;

	.bot-form__label
		width: 100%;
		text-align: center;
		margin-right: 0;
		padding: 0 15px;
		margin-bottom: 30px;

	.bot-form
		padding: 0 15vw;
		margin-top: 50px;
		.gradient-btn
			padding: 24px 2rem;
	.footer-bot_info
		display: none;
	.to_top
		top: 23px;
		z-index: 5;

@media screen and (max-width: 790px)
	body

		#page-wr

			select.forms__input.selectize

				&:not(.selectized)
					border: 1px solid $second-color !important
					width: 100%
					height: 40px !important
					padding: 0 30px 0 20px
					background: url("../img/ico-select-arrow.png") center right 13px no-repeat

@media screen and (max-width: 480px)
	.head

		&__logo
			flex: none

	.manifest

		&__title-cont
			margin-bottom: 35px;
		&__one-img
			+size(190px)
		&__one
			padding: 20px 140px 20px 26px;
			&:nth-child(2n)
				padding: 20px 26px 20px 140px;
				.manifest__one-img
					left: -61px;
		&__one-text
			display: none;
			&:before
				display: none;
		&__one
			&:before	
				display: none;
		&__one-btn
			display: block;
			align-self: flex-start;
			padding-right: 20px;
			&:before
				content: "";
				background: url(../img/ico-select-arrow-black.png) no-repeat;
				position: absolute;
				right: 0;
				top: calc(50% - 4px)
				width: 11px;
				height: 8px
				transition: 0.5s ;
		&__one.open
		 .manifest__one-text
				display: block;
			.manifest__one-btn
				&:before
					transform: rotate(180deg);
	.seo-text__cont
		// display: none;
		padding: 0 20px;
		padding-top: 80px;
	.footer-top__column
		margin-right: 0;
		&:nth-child(1)
			order: 2;
		&:nth-child(2)
			display: none;
		&:nth-child(3)
			order: 1;
			display: flex;
			flex-wrap: wrap;
	.footer-top
		flex-direction: column;
	.f-contacts
		flex-direction: row;
		flex-wrap: wrap;
		address, div
			width: 50%;
			text-align: center;
			padding-top: 0;
			margin-bottom: 25px !important;
	.footer__logo
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	.footer__soc
		.soc
			display: flex;
			justify-content: space-around;
	.soc__link:not(:first-child)
		margin-top: 0;
	.footer__column-title
		text-align: center;
	.bot-form__title
		font-size: 13vw;
	// .head__lc
	// 	display: none;
	.main-slider
		padding-top: 150px
		padding-bottom: 105px;
		
	.main-catalog__tabs
		margin-top: -110px
	.main-slider .slick-dots
		bottom: 90px;
	.main-catalog__slider
		margin: 40px;
		margin-bottom: 0;
	.main-title
		font-size: rem(40)
	.main-subtitle
		font-size: rem(20)
	.big-slider__cont
		padding-left: 25px;
		padding-right: 25px;
	.inst-block_mobile_cont
		margin-top: 30px;
	.inst-block_mobile .inst-block
		min-height: 190px;
	.bot-form__cont
		padding-top: 90px;
	.bot-form
		margin-top: 40px;
		padding: 0 45px;
	.footer__top
		padding-bottom: 50px;
		padding-top: 112px;
	.head__cart-wrap
		width: auto;
	.card__tabs_left_content 
		h3
			font-size: 25px;
			margin-bottom: 25px;
			padding-bottom: 20px;
	.card__feedback
		padding-left: 25px;
		padding-right: 25px;
		position: relative;
	.card__feedback_form
		background: #fff;
		position: absolute;
		left: 0;
		z-index: 5;
	.card__feedback_btns
		.card__btn
			a 
				display: inline-block;
				width: 170px;
				text-align: center;
				line-height: 15px;

@media screen and (max-width: 450px)
	.tabs
		width: 100%

	.manifest
		padding: 0

		&__one
			padding: 20px 15px !important
			display: flex
			flex-direction: column
			align-items: center
			margin-bottom: 40px
			text-align: center

			&-img
				order: -1
				position: relative
				left: auto !important
				right: auto
				top: auto
				margin: -30px 0 15px

			&-btn
				align-self: center

	.head

		&__logo
			order: -1
			padding-left: 0

		&__burger
			order: -4
			margin-right: 15px

		&__lc
			order: -2

		&__favorite
			order: -3

	.main-slider
		padding: 95px 0 50px

		.slick

			&-dots
				bottom: 60px

	.big-slider
		margin-top: 15px

		&__cont
			padding-left: 15px
			padding-right: 15px
			padding-bottom: 0
			margin: 0 -15px

		&__title

			&-img
				display: none

		&__slide

			&--many
				grid-gap: 1rem

	.bot-form, .seo-text

		&__cont
			padding: 3rem 0 

	.footer

		&__top

	.title-block

		&__title

			h1
				font-size: rem(26)

	.catalog-filter
		padding: 20px 15px

		.forms-wrap
			margin-left: 0 !important
			width: 100% !important
			margin-bottom: 1rem

			&:last-child
				flex-direction: column

				.forms-input-cont
					width: 100%
					// margin-bottom: 1rem

		.btn-flat
			width: 100%

			&:not(:first-child)
				margin: 1rem 0 0

			input[type="submit"]
				width: inherit

	

	.btn-more
		margin: 25px 0 0

	.cart

		&-aside

			&__header
				flex-direction: column

			&__title
				margin-bottom: 1rem

			&__mobile-btn
				margin-bottom: 1rem

			&__item
				padding-left: 0
				padding-right: 0

	.payment-method__item
		width: calc(100% - 28px)

	.cart-price
		flex-direction: column

		&__total
			margin: 15px 0 0
			padding-left: 0

	.card

		&__feedback
			padding: 
				left: 0
				right: 0

			&_btns
				flex-direction: column

				.gradient-btn__wrap
					margin: 15px 0 0

			&_form
				position: static
				// margin: 0 -15px
				padding: 20px 15px 1px

		&__slick

			&_nav
				// flex: 1 0 auto
				width: 100%

		&__form

			&_btns
				flex-direction: column
				align-items: center

				.card__form_btn

					&:first-child
						margin-right: 0

	.cart-aside

		&__item

		&__img
			flex: none
			width: 80px

	.footer

		&__top
			padding: 7.3125rem 15px 1.625rem

			.wrapper
				padding: 0

	.delivery-

		&__payment
			padding: 0

			&_container
				margin-left: 0

			&_item
				padding-left: 0
				width: 48%

	.sale.cat-item 

		.cat-item__bot-price
			display: flex
			align-items: flex-end

		.cat-price
			order: -1
			margin-right: 10px

			&__new
				margin: 0

	.footer

		&__copy, &__design
			width: 42%

	.design
		display: block
		text-align: right
		white-space: pre-wrap

	.catalog-slider

		&__slide

			.cat-item__hover
				background: none

@media screen and (max-width: 450px)
	.main-catalog

		&__slider
			margin: 40px 0

	.catalog-slider
		margin: 0 -20px

		.slick

			&-list
				margin: 0
				padding: 0

		&__slide
			margin: 0 20px

			.cat-item__hover
				background: none

@media screen and (max-width: 370px)
	// .main-catalog

	// 	&__slider
	// 		margin: 
	// 			left: 0
	// 			right: 0

	// .catalog-slider
	// 	margin: 0

	// 	&__slide
	// 		margin: 0

	.cat-items
		padding: 2rem 0
		flex-direction: column
		margin: 0 0 -20px

		.cat-item
			width: 100% !important
			margin: 0 0 20px 0 !important

@media screen and (max-width: 350px)
	.head

		&__logo
			width: 80px

		&__wrap
			min-height: 47px

	.cart-link
		+size(30px)
		background-size: 50% !important

		&[data-count]


			&:after
				+size(16px)
				line-height: 16px

	.inner #content
		padding-top: 75px

	.card
		margin: 0px 0 0

	.popup_buy-

		&__block

			&_info
				flex-direction: column

				div

					&:nth-child(2)
						padding-left: 0
						margin: 10px 0 0

		&__btns
			flex-direction: column
			height: auto

		&__close, &__buy
			width: 100%
			text-align: center
			padding: 8px 10px 10px

			&:not(:first-child)
				margin: 10px 0 0