$output-bourbon-deprecation-warnings: false;
@import "bourbon"
@import "vars"
@import "functions"

.to_top
	position: absolute;
	right: 50px;
	top: 40px;
	transition: 0.5s;
	&:hover
		transform: scale(1.1);
// Доставка и оплата-------------------------
.delivery-
	.fix-1 
		img
			left: 0;

	.fix-2 
		img
			left: 15px;

	&__title
		margin-bottom: 45px;
		h1
			font-size: 50px
			font-weight: 900
			color: #d461ab;
			text-transform: uppercase;
		div 
			font-size: 30px;
			color: #000;
			text-transform: none;
	&__city_select_title
		font-size: 25px;
		margin-bottom: 30px;

	&__city_select_panel
			display: flex;
			width: 	calc(100% - 315px)
			max-width: 870px;
			position: relative;	
	&__city_select
		input[type="text"]
			width: calc(100% - 45px);
			// max-width: 820px;
			border: 1px solid #8b69fc ;
			height: 45px;
			padding: 0 45px 0 20px;
			background-color: transparent;
			font-size: 14px;
		input[type="submit"]
			width: 45px;
			height: 45px;
			background: url(../img/delivery-ico-city.png) center no-repeat, #8b69fc;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: 0;
			transition: 0.3s;
			&:hover
				background: url(../img/delivery-ico-city.png) center no-repeat, #8363ed;
		input[type="reset"]
			width: 45px;
			height: 45px;
			background: url(../img/delivery-ico-city-close.png) center no-repeat
			position: absolute;
			// right: 65px;
			// top: 	17px;
			right: 	50px;
			top: 0;
			border: 	0;
			cursor: pointer;
			transition: 0.3s;
			display: none;
			&:hover
				transform: scale(1.1);

		label 
			div
				width: 45px;
				height: 45px;
				background-color: #8b69fc;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;


	&table
		box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15)
		padding: 20px;
		overflow-x: auto;
		background-color: #fff;
		table
			width: 100%;
			text-align: left;
			min-width: 410px;

		td 
			color: #000;
			font-size: 18px;
			vertical-align: middle;
			border-top: 1px solid #cbcbcb;
			padding: 10px 5px;
			img 
				margin-right: vw(80);

		td[data-title="Стоимость доставки"]
			font-weight: bold;
			color: #9667f4;

			div 
				font-size: 14px;
				color: #000;

				font-weight: normal;
		td[data-title="Срок доставки"]
			span 
				white-space: nowrap;
		&:nth-child(3)
			color: #9667f3;
			font-size: 20px;
			font-weight: bold;

		th 
			font-size: 12px;
			color: #939393;
			vertical-align: middle;

		tr 
			height: 70px;

	&__map_title
		font-size: 25px;
		max-width: 350px;
		margin-bottom: 55px;
		margin-top: 80px;

	&__map_container
		display: flex;
		margin-bottom: 90px;
		// max-height: 570px;

	&__map_block
		width: calc(100% - 315px);
		img 
			width: 100%;
			height: 100%;
			object-fit: cover;
	&__map_select
		width: 315px;
		background-color: #fff;
	&__map_select__top
		height: 30px;
		font-size: 13px;
		color: #fff;
		background-color: #8b69fc;
		display: flex;
		align-items: center;
		padding-left: 10px;

	&__map_select__mid
		background-color: #fafafa;
		height: 55px;
		display: flex;
		align-items: center;
		padding-left: 10px;

		input 
			margin-right: 5px;
			appearance: none;
			-webkit-appearance: none;
			border: 1px solid black;
			width: 17px;
			height: 17px;
			position: relative;
			&:after
				content: ""
				width: 8px;
				height: 9px;
				background: url(../img/delivery-ico-checkbox.png) no-repeat;
				position: absolute;
				top: calc(50% - 5px)
				left: calc(50% - 5px)
				opacity: 0;
				transition: 0.3s;
			&:checked
				&:after
					opacity: 1;
		div 
			display: flex;
			margin-right: 20px;
	&__map_select__bot

		ul
			height: 465px;
			overflow: auto;
			&::-webkit-scrollbar-track
				border-radius: 4px;
			&::-webkit-scrollbar
				width: 8px
				background-color: #e8e8e8;
			&::-webkit-scrollbar-thumb 
				border-radius: 4px;
				background: #acacac;
		li 
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 25px;
			margin: 20px 0;
			padding-left: 10px;
			padding-right: 15px;
			cursor: pointer;
			&:hover
				background-color: #fafafa;
		.active
			background-color: #fafafa;
		div 
			color: #373333;
			font-size: 13px;

			&:last-child
				font-size: 11px;
				color: #bbbbbb;
	&__payment_container
		display: flex;
		margin-left: calc((100% - 160px * 5)/5 * -1);
		margin-bottom: -60px;
		flex-wrap: wrap;

	&__payment_title
		font-size: 25px;
		margin-bottom: 50px;

	&__payment_item
		margin-bottom: 60px;
		margin-left: calc((100% - 160px * 5)/5);
		// &:first-child
		// 	margin-left: 0;
		img 
			margin-bottom: 30px;
		div 
			max-width: 160px;
	.shadow
		&:before
			visibility: hidden;
			content: '';
			position: absolute;
			right: -3px;
			top: 0;
			height: 100%;
			width: 60px;
			background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
			pointer-events: none;
	.card__tabs
		margin-top: 50px;
.delivery-city:valid ~ .delivery-city_reset
	display: block !important;
// Доставка и оплата-------------------------КОНЕЦ
// Поиск-----------------------
.search-
	.delivery-__city_select_panel
		width: 100%;
		max-width: 670px;
	.aside
		margin-top: 0;
	.cat-items
		padding-top: 0;
	&__container
		display: flex;
		margin-top: 90px;
	&__checkbox
		display: flex;
		flex-direction: column;
		font-size: 14px;
		label, input
			cursor: pointer;
		div 
			display: flex;
			align-items: center;
			margin-bottom: 14px;
		input 
			margin-right: 5px;
			appearance: none;
			-webkit-appearance: none;
			border: 1px solid black;
			width: 12px;
			height: 12px;
			position: relative;
			&:after
				content: ""
				width: 13px;
				height: 15px;
				background: url(../img/search-ico-checkbox.png) no-repeat;
				position: absolute;
				bottom: 0;
				left: calc(0)
				opacity: 0;
				transition: 0.3s;
			&:checked
				border: 1px solid #8b69fc;
				&:after
					opacity: 1;
			&:checked + label
				color: #8b69fc; 
	&__checkbox_title
		font-size: 16px;
		font-weight: bold;
		border-top: 1px solid black;
		padding-top: 20px;
// Поиск-----------------------Конец
// Избранное-------------------
.favorite-
	// background: url(../img/catalog-bg-top.png) 0 0px no-repeat;
	.cat-items
		padding: 0;
	.cat-item
		width: calc((100% - 62px * 4) / 4);
	.cat-item__hover
		background-color: transparent;
	&__cross
		position: absolute;
		right: 0;
		top: 0;
		z-index: 4;
		width: 14px;
		height: 14px;
		transition: 0.3s;
		&:hover
			transform: rotate(180deg);
.bg_pic
	background: url(../img/catalog-bg-top.png) 0 15px no-repeat;
.search-, .favorite-, .delivery-
	.big-slider__title-cont
		margin-bottom: 45px;
// Избранное-------------------Конец
// Popup-----------------------
.fancybox-bg
	background: url(../img/fancybox_bg.png) no-repeat
	background-size: cover;
.login-
	&__form_tabs
		display: flex;
		height: 40px;
		width: 100%;
		padding: 0 40px;
		margin-bottom: 30px;
		a 
			width: 50%;
			height: 100%;
			border: 1px solid #8b69fc;
			color: #8b69fc;
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border-bottom: 1px solid #8b69fc !important;
			padding-bottom: 3px;
			&:hover
				color: #d162af;
				border: 1px solid #d162af;
				border-bottom: 1px solid #d162af !important;
		.active
			background-color: #9767f3;
			color: #fff;
			&:hover
				background-color: #9767f3;
				color: #fff;
				border: 1px solid #9767f3;
				border-bottom: 0 !important
	&_form
		background-color: #fff;
		width: 100%;
		// height: 100%;
		max-width: 430px;
		// max-height: 515px;
		border-bottom: 3px solid #9767f3;
		.forms-wrap
			flex-direction: column;
		.forms-input-cont
			width: 100%;
			margin-bottom: 20px;
		.forms__label
			font-size: 14px;
			color: #a279f4;
			margin-bottom: 8px;
		.forms__input
			padding: 0 40px 0 5px;
			border: 1px solid #cbcbcb;
		form
			padding: 0 40px 40px 40px;
			display: none;
		form.active
			display: block;
		.card__form_btns
			display: flex;
			align-items: center;
			justify-content: space-between;
			a 
				color: #a279f4;
		.forms__title
			font-size: 30px;
			font-weight: bold;
			color: #9667f3;
			text-align: center;
			margin-top: 15px;
		.forms-submit-cont
			margin-top: 0;
			width: auto;
		.mail_ico
			&:before
				content: "";
				background: url(../img/ico-mail.png) no-repeat;
				position: absolute;
				right: 15px;
				bottom: 15px;
				width: 18px;
				height: 11px;
				z-index: 4;
		.pass_ico
			&:before
				content: "";
				background: url(../img/form-ico-pass.png) no-repeat;
				position: absolute;
				right: 15px;
				bottom: 13px;
				width: 13px;
				height: 15px;
				z-index: 4;
		.social_login
			width: 100%;
			// height: 85px;
			display: block ;
			border-top: 1px solid #9667f3;
		.social_login_title
			text-align: center;
			span 
				padding: 0 10px;
				background-color: #fff;
				position: relative;
				top: -10px;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				color: #a279f4;
		.aside-soc
			margin-top: 8px;
			display: flex;
		.gradient-btn
			width: 135px
			padding: 0 !important;
		form[data-id="2"]
			.gradient-btn
				width: 100%;
.popup_buy-
	width: 100%;
	max-width: 430px;
	background-color: #fff;
	border-bottom: 3px solid #8b69fc;
	padding-bottom: 45px;
	padding-top: 60px;
	&__title
		color: #8b69fc;
		font-size: 25px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	&__block
		display: flex;
		font-size: 14px;
		padding: 0 50px;
		margin-bottom: 30px;
	&__block_info
		display: flex;
		padding: 0 25px;
		margin-bottom: 35px;
		div 
			&:first-child
				width: 150px;
			&:nth-child(2)
				padding-left: 20px;
		span.price
			font-weight: bold;
			color: #8b69fc;
		b 
			color: #8b69fc;
	&__text
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 20px;
	&__text_top, &__text_mid
		margin-bottom: 25px;
	&__text_mid
		font-size: 12px;
	&__text_bot
		color: #8b69fc;
		font-size: 25px;
		font-weight: bold;
	&__btns
		display: flex;
		height: 40px;
		// padding: 0 15px;
	&__close 
		width: 50%;
		height: 100%;
		border: 1px solid #8b69fc;
		color: #8b69fc;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding-bottom: 3px;
		&:hover
			color: #d162af;
			border: 1px solid #d162af;
	&__buy
		background-color: #9767f3;
		color: #fff;
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid transparent
		padding-bottom: 4px;
		&:hover
			color: #fff !important;
			background-color: #785ad9;
			border-color: #785ad9 !important

.fast_buy			
	.forms__input
		padding-right: 5px;
	.forms-input-cont--textarea
		textarea
			width: 100%;
			height: 64px !important;
			max-height: none;
			resize: none;
	.gradient-btn
		width: auto;
	.card__form_btns
		display: block;
		text-align: center;
	.forms-checkbox
		max-width: 240px;
		margin-top: 15px;
		&:before
			width: 10px;
			height: 10px;
			border-radius: 5px;
			top: 10px
			left: -1px;
	.forms__checkbox-label
		font-size: 10px;
		color: #9b9b9b;
		padding-left: 15px;
		&:after
			top: 9px;
		&:before
			top: 12px;
	.forms-wrap
		align-items: center;
	.forms-input-cont
		margin-bottom: 24px;
	form
		padding-bottom: 0px;
.fancybox-stage
	.card__top
		display: flex !important;
// Popup-----------------------Конец
// media
@media screen and (min-width: 1000px)
	.search-, .favorite-, .delivery-
		.big-slider__title-cont
			margin-top: 55px;
@media screen and (max-width: 1000px)
	.search-
		.aside 
			display: block;
		&__container
			flex-direction: column;
			margin-top: 45px;
		&__checkbox_title
			border-top: 0;
			width: 100%;
		&__checkbox
			flex-direction: row;
			flex-wrap: wrap;
			div 
				padding-right: 20px;
	.favorite-
		.cat-item
			width: calc((100% - 35px * 3) / 3);
	// popup--------------------------------
	.fancybox-stage 
		.card__top
			flex-direction: column;
			padding: 40px;
			.fancybox-close-small
				top: 0px;
				right: 0px;
		.card__slider
			width: 100%;
		.card__sample
			width: 100%;
	// popup--------------------------------END
@media screen and (max-width: 900px)
	// Доставка и оплата-------------------------
	.delivery-
		&__payment_container
			margin-left: calc((100% - 160px * 4)/4 * -1);

		&__payment_item
			margin-left: calc((100% - 160px * 4)/4);
	// Доставка и оплата-------------------------Конец
@media screen and (max-width: 770px)
	// Доставка и оплата-------------------------
	.delivery-
		.fix-1 
			img
				left: calc(50% - 26px);
				top: 10px;

		.fix-2 
			img
				left: calc(50% - 12px);
				top: 5px;

		&__city_select_panel
			width: 100%;

		&__payment_container
			margin-left: calc((100% - 160px * 3)/3 * -1);

		&__payment_item
			margin-left: calc((100% - 160px * 3)/3);

		.card__tabs_right
			padding-left: 0;

		&__map_container
			flex-direction: column;
			margin-bottom: 230px;
			position: relative;

		&__map_block
			width: 100%
			height: calc(100vw - 30px)

		&__map_select
			position: absolute;
			width: 315px;
			height: 250px;
			left: calc(50% - 157px);
			bottom: -160px;

		&__map_select__bot
			ul 
				height: 190px;
	// Доставка и оплата-------------------------Конец
	// Поиск-------------------
	.search-

		.delivery-__city_select_panel
			max-width: none;

		.wrapper
			padding: 0 5vw;
	// Поиск-------------------Конец
	.search-, .favorite-, .delivery-
		.big-slider__title-cont
			justify-content: center;
			text-align: center;
@media screen and (max-width: 660px)
	//Избранное----------------------
	.favorite-
			.cat-item
				width: calc((100% - 35px * 2) / 2);
	//Избранное----------------------Конец
@media screen and (max-width: 550px)
	// Доставка и оплата-------------------------
	.delivery-
		&__payment_container
			margin-left: calc((100% - 160px * 2)/2 * -1);

		&__payment_item
			margin-left: calc((100% - 160px * 2)/2);
	// Доставка и оплата-------------------------Конец
@media screen and (max-width: 480px)
	// Доставка и оплата-------------------------
	.delivery-
		&__title
			margin-bottom: 50px;

			h1
				text-align: center; 

		&__city_select_title
			font-size: 18px;

		&__city_select
			padding: 0 25px;

		&__city_select_title
			margin-bottom: 20px;

		&__map_title
			margin: 50px auto ;
			width: 250px;
			font-size: 18px;

		&__payment_container
			margin-left: -10px;

		&__payment_item
			margin-left: 0
			width: 50%;
			padding-left: 10px;

		&__payment_title
			text-align: center;
		.card__tabs_left
			&:before
				visibility: visible;
	.search-
		.delivery-__city_select
			padding: 0;
			
		// .delivery-__title 
		// 	h1 
		// 		font-size: 42px;
	// Доставка и оплата-------------------------Конец
	//Избранное----------------------
	.favorite-
			.cat-item
				width: calc((100% - 20px * 2) / 2);
				margin: 0 0 70px 20px;
			.cat-items
				margin: 0 0 -70px -20px;
	//Избранное----------------------Конец
	.search-,  .delivery-
		.main-title
			font-size: 42px;
	.favorite-
		.main-title
			font-size: 35px;
	// popup--------------------------
	.fancybox-stage 
		.card__top
			padding-right: 15px;
			padding-left: 15px;
@media screen and (max-width: 430px)
	.login-_form 
		form
			padding-right: 0;
			padding-left: 0;
	.login-__form_tabs
		padding: 0;
	.popup_buy-__block
		padding: 0;
	.popup_buy-__block_info
		padding: 0;
		justify-content: space-between;